h1{
    border: 9px solid red;
    color: blue;
}

h2{
    border-top: 9px solid green;
    color: yellow;
    border-style: dashed;
    border-width: 10px;
}

h3{
    border: 9px dotted purple;
    color: orange;
    border-radius: 20px;
    width: 200px;
    height: 400px;
    text-align: center;
    align-content: center;
}

h4{ 
    border: 9px;
    border-color: black;
    border-style: double;
    
    //padding : top right bottom left;
    //padding : 10px 20px 30px 40px;

    padding: 100px;
    width: 300px;
    text-align: center;
}