<p>home-component works!</p>
<br> 
<hr>
<a  routerLink="/about"  >Go to About</a>
<br>
<a  routerLink="/contact"  >Go to Contact</a>

<br>

<a  routerLink="/first"  >Go to First</a>

<br>

<a  routerLink="/second"  >Go to Second</a>

<br>

<a  routerLink="/third"  >Go to Third</a>

<br>

<a  routerLink="/fourth"  >Go to Fourth</a> 
<br>
<a  routerLink="/fifth"  >Go to Fifth</a>

<br>
<a  routerLink="/sixth"  >Go to Sixth</a>

<br>
<a  routerLink="/seventh"  >Go to Seventh</a>

<br>
<a  routerLink="/eighth"  >Go to Eighth</a>

<br>
<a  routerLink="/ninth"  >Go to Ninth</a>

<br>
<a  routerLink="/tenth"  >Go to Tenth</a>

<br>

<a  routerLink="/eleventh"  >Go to Eleventh</a>

<br>
<a  routerLink="/twilive"  >Go to Twilive</a>

<br>
<a  routerLink="/thirten"  >Go to Thirten</a>

<br>
<a  routerLink="/fourten"  >Go to Fourten</a>

<br>
