h2 , h1 , div {
    color: blue;
    color: red;
}

p{
    color: green;
}

.TestName {
    color: purple;
}

p.TestName {
    color: orange;
}

#Try {
    color: yellow;
}

p#Try2 {
    color: pink;
}

// * { // universal selector (for all elements)
//     color: brown;
// }


